.bordered-thin{
    border-style: solid;
    border-width: 1px;
    /*border-radius: 5px;*/
    border-color: darkgray;
    padding: 0.5em;
}

/*NOT REALLY IN USE. THE COLOR IS RANDOMIZED VIA THE tmpl insert*/
.mdl-card__title {
    color: #fff;
    background:
    linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url('../img/quiz.jpg') bottom right 15% no-repeat #2fa398;
    
  }

.cyan-bg {
    background: linear-gradient(0deg,#39b1b1,#3d51b5);
}

[name="barInput"]::placeholder{color: #FFFFFF;}
[name="barInput"]{
    border-bottom: white solid 1px; 
}

.ui-widget-overlay
{
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;

  background: rgb(50, 50, 50) !important; /* This will make it darker */
}
.ui-dialog-content{
    background: white !important;
}


  .no-close .ui-dialog-titlebar-close {
    display: none;
  }

  .ui-dialog-titlebar{
      display:none;
  }

  #inner{
      padding-top: 4em;
  }

  .quizSide{
      margin-left: 2em;
      border-left: solid 1px black;
  }

 .cancelButton{
     margin: 1em 1em;
 }